# Konfigurasi Database MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=baileys
MYSQL_TABLE_NAME=auth

# Konfigurasi Bot
BOT_SESSION_NAME=sessions
BOT_PREFIXES=!,.,/,=
OWNER_JIDS=62xxx # Nomor Owner
BOT_ALLOW_EXPERIMENTAL=false

# Metode Login
QR=false # otomatis menggunakan pairing code
BOT_NUMBER= # (format E.164, TANPA tanda +, contoh: 6281234567890)

# Konfigurasi MongoDB untuk penyimpanan (metadata grup dan kontak)
USE_MONGO=false # jika false, default pakai MySQL, tapi bisa pilih lokal di AUTH_STORE
MONGO_URI=mongodb://localhost:27017/database
USE_MONGO_AUTH=false # jika false, default pakai MySQL, tapi bisa pilih lokal di AUTH_STORE
MONGO_AUTH_COLLECTION=auth

# Konfigurasi Digiflazz
DIGI_URL=https://api.digiflazz.com/v1/
DIGI_APIKEY= # Apikey Digiflazz (Production)
DIGI_APIKEY_DEV= # Apikey Digiflazz (Development)
DIGI_USERNAME= # Username Digiflazz
WEBHOOK_PORT= # Sesuaikan dengan port di network (ptreodactyl / setting port sendiri)
DIGI_SECRET= # Apikey Digiflazz (Secret)

# Penyimpanan Sesi: mysql, mongodb, atau local
AUTH_STORE=local # pilih local = simpan ke file di komputer/server
LOCAL_AUTH_PATH=auth_info_baileys # folder penyimpanan sesi jika AUTH_STORE=local
DATABASE_LOCAL_PATH=./sessions/database.json

# Konfigurasi Stiker
packname=@Yu Xin (于欣)

# Environment / Lingkungan Jalankan
NODE_ENV=production

# Konfigurasi Clone Bot (fitur multi-bot)
MONGO_CLONE_DB=clonesessions
MONGO_CLONE_COLLECTION=clonesessions
